.game_app {
  overflow: hidden;
  position: relative;
  min-width: 1280px;
  height: 100vh;
  background: url(../../../lib/images/bg_top.png) repeat-x;
  background-size: auto 100%;
}

.game_app .game {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 70000px;
  height: 100%;
  background: url(../../../lib/images/bg_bottom.png) repeat-x;
  background-size: auto 100%;
  will-change: transform;
}

.game_app .hero_box {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 150px;
  height: 182px;
  will-change: transform;
  /* 변화될 속성값을 브라우저에서 미리 인지하고 준비하여 부드러운 효과 */
}

.game_app .hero_box .hero {
  width: 100%;
  height: 100%;
  background: url(../../../lib/images/ninja_idle.png) no-repeat;
  background-size: auto 182px;
  animation: hero_idle .7s infinite steps(10);
  /* 0.7초 동안 10번 움직임 */
}

.game_app .hero_box .hero.flip {
  transform: rotateY(180deg);
}

.game_app .hero_box .hero.attack {
  background-image: url(../../../lib/images/ninja_attack.png);
  animation-iteration-count: 1;
}

.game_app .hero_box .hero.run {
  background-image: url(../../../lib/images/ninja_run.png);
}

.game_app .hero_bullet {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 90;
  width: 120px;
  height: 24px;
  background: url(../../../lib/images/hero_bullet.png) no-repeat;
  background-size: auto 24px;
  will-change: transform;
}

.game_app .monster_box {
  position: absolute;
  left: 700px;
  bottom: 0;
  z-index: 90;
  width: 280px;
  height: 294px;
  will-change: transform;
}

.game_app .monster_box .hp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  border: 2px solid #000;
  transform: translateY(-100%);
}

.game_app .monster_box .hp span {
  display: block;
  width: 100%;
  height: 100%;
  background: red;
  transition: width .3s;
}

.game_app .monster_box .monster {
  width: 100%;
  height: 100%;
  background: url(../../../lib/images/monster/monster_green_run.png) no-repeat;
  background-size: auto 294px;
  animation: monster_run 1s infinite steps(8);
  /* 0.7초 동안 10번 움직임 */
}

.game_app .monster_box.remove {
  opacity: 0;
  transition: opacity .4s;
}

@keyframes hero_idle {
  form {
    background-position-x: 0;
  }

  to {
    background-position-x: -1498px;
  }
}

@keyframes monster_run {
  form {
    background-position-x: 0;
  }

  to {
    background-position-x: -2242px;
  }
}