.game_app {
  overflow: hidden;
  position: relative;
  min-width: 1280px;
  height: 100vh;
  background: url(../../../lib/images/bg_top.png) repeat-x;
  background-size: auto 100%;
}

.game_app .hp {
  width: 100%;
  height: 10px;
  border: 2px solid #000;
}

.game_app .hp span {
  display: block;
  width: 100%;
  height: 100%;
  background: red;
}

.game_app .game_info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 150px;
}

.game_app .game_info .hero_state {
  display: flex;
  width: 300px;
  padding: 20px;
}

.game_app .game_info .hero_state .hero_img {
  flex: 0 0 20%;
}

.game_app .game_info .hero_state .hero_img img {
  width: 52px;
  vertical-align: top;
}

.game_app .game_info .hero_state .state_box {
  flex: 1;
  padding: 10px 0;
}

.game_app .game_info .score_box {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 18px;
}


.game_app .game {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 70000px;
  height: 100%;
  background: url(../../../lib/images/bg_bottom.png) repeat-x;
  background-size: auto 100%;
  will-change: transform;
}

.game_app .hero_box {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 150px;
  height: 182px;
  will-change: transform;
  /* 변화될 속성값을 브라우저에서 미리 인지하고 준비하여 부드러운 효과 */
}

.game_app .hero_box .hero {
  width: 100%;
  height: 100%;
  background: url(../../../lib/images/ninja_idle.png) no-repeat;
  background-size: auto 182px;
  animation: hero_idle .7s infinite steps(10);
  /* 0.7초 동안 10번 움직임 */
}

.game_app .hero_box .hero.flip {
  transform: rotateY(180deg);
}

.game_app .hero_box .hero.attack {
  background-image: url(../../../lib/images/ninja_attack.png);
  animation-iteration-count: 1;
}

.game_app .hero_box .hero.run {
  background-image: url(../../../lib/images/ninja_run.png);
}

.game_app .hero_box .hero.slide {
  background-image: url(../../../lib/images/ninja_slide.png);
  animation-play-state: 1;
}

.game_app .hero_box .hero.crash {
  background-image: url(../../../lib/images/ninja_crash.png);
  animation: hero_crash .4s 1 steps(2);
}

.game_app .hero_box .hero.dead {
  background-image: url(../../../lib/images/ninja_dead.png);
  animation: none;
  transform: rotate(90deg);
  transform-origin: 50% 80%;
}

.game_app .hero_bullet {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 90;
  width: 120px;
  height: 24px;
  background: url(../../../lib/images/hero_bullet.png) no-repeat;
  background-size: auto 24px;
  will-change: transform;
}

.game_app .monster_box {
  position: absolute;
  left: 700px;
  bottom: 0;
  z-index: 90;
  width: 280px;
  height: 294px;
  will-change: transform;
}

.game_app .monster_box .hp {
  position: absolute;
  left: 0;
  top: 0;

  transform: translateY(-100%);
}

.game_app .monster_box .hp span {
  transition: width .3s;
}

.game_app .monster_box .monster {
  width: 100%;
  height: 100%;
  background: url(../../../lib/images/monster/monster_green_run.png) no-repeat;
  background-size: auto 294px;
  animation: monster_run 1s infinite steps(8);
  /* 0.7초 동안 10번 움직임 */
}

.game_app .monster_box.yellow_mon .monster {
  background-image: url(../../../lib/images/monster/monster_yellow_run.png);
}

.game_app .monster_box.pink_mon .monster {
  background-image: url(../../../lib/images/monster/monster_pink_run.png);
}

.game_app .monster_box.green_mon .monster {
  background-image: url(../../../lib/images/monster/monster_green_run.png);
}

.game_app .monster_box.boss {
  width: 450px;
  height: 472px;
}

.game_app .monster_box.boss .monster {
  background-size: auto 472px;
  animation-name: monster_run_boss;
}


.game_app .monster_box.remove {
  opacity: 0;
  transition: opacity .4s;
}

.game_app .game_over {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 60px;
  background: rgba(0, 0, 0, .5);
}

.game_app .game_over.show {
  display: flex;
}

.game_app .text_damage {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  font-family: 'roboto';
  font-size: 110px;
  background: linear-gradient(to bottom, rgba(196, 41, 30, 1) 0%, rgba(230, 89, 191, 1) 100%);
  -webkit-text-stroke: 5px rgba(255, 255, 255, .7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textDamage .5s ease-out both;
}

.game_app .stage_box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 190;
  transform: translate(-50%, -50%);
  font-size: 90px;
  color: #fff;
  white-space: nowrap;
  animation: stageStart 1.5s;
  animation-fill-mode: both;
}

@keyframes hero_idle {
  form {
    background-position-x: 0;
  }

  to {
    background-position-x: -1498px;
  }
}

@keyframes hero_crash {
  form {
    background-position-x: 0;
  }

  to {
    background-position-x: -299px;
  }
}

@keyframes monster_run {
  form {
    background-position-x: 0;
  }

  to {
    background-position-x: -2242px;
  }
}

@keyframes monster_run_boss {
  form {
    background-position-x: 0;
  }

  to {
    background-position-x: -3600px;
  }
}

@keyframes textDamage {
  0% {
    opacity: 0;
    bottom: 0;
  }

  70% {
    opacity: 1;
    bottom: 50px;
  }

  100% {
    opacity: 0;
    bottom: 90px;
  }

}

@keyframes stageStart {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}